body {
    background-color: rgb(80, 75, 75);
}

h1{
    background-image: url(logo.png);
   background-repeat: no-repeat; 
   height: 50px;
   margin-top: -7px;
   margin-left: -7px;
   margin-right: -7px;
   padding-top: 25px;
   padding-bottom: 41px;
   padding-left: 123px;
   background-color: #50085a;

}